$size-2: 2;
$size-4: 4;
$size-8: 8;
$size-16: 16;
$size-32: 32;

$top-bar-height: 96;
$top-control-size: 64;

$curve-width: 64;

$score-box-padding: 32;

$player-name-font-size: 18;
$player-name-size: 80;

$player-score-height: 40;
$player-score-width: 176;
$player-score-font-size: 28;

$top-logo-width: 128;
$top-logo-frame-width: 192;
$top-logo-frame-top: 32;

$board-padding: 20;
$segments-spacing: 64;

$cell-margin: 8;
$cell-size: 48;
$cell-border: 2;
$cell-font-size: 28;
$wildcard-font-size: 40;

$end-game-text: 40;

$socials-size: 32;
$copyright-font-size: 18;

$info-font-size: 22;

$splash-size: 700;

$number-color: #EDF8FD;

$light-gray: #D2D5D4;
$light-purple: #592D8F;
$light-purple-translucent: #592D8FCC;
$dark-purple: #292356;
$white-purple: #6F1EF4;
$white-magenta: #18EFE9;
$dark-yellow: #F4BC17;

$low-cell-color: #EA572D;
$med-cell-color: #F4BC17;
$hig-cell-color: #00A95A;

$top-background-color: #FFF;
$top-background-color-transparent: #FFF0;

$transition-slow: 0.5;