$size-2: 2;
$size-4: 4;
$size-8: 8;
$size-16: 16;
$size-32: 32;
$size-40: 40;
$size-64: 64;
$size-80: 80;
$size-128: 128;
$size-192: 192;
$size-256: 256;

$top-bar-height: 96;
$player-score-height: 40;
$player-score-width: 192;
$player-score-font-size: 28;
$player-name-font-size: 20;

$board-padding: 20;
$segments-spacing: 64;

$cell-margin: 8;
$cell-size: 48;
$cell-border: 2;
$cell-font-size: 20;
$cell-selectable-font-size: 28;
$wildcard-font-size: 40;

$socials-size: 32;
$logo-size: 224;

$number-color: #EDF8FD;

$light-gray: #D2D5D4;
$light-purple: #592D8F;
$dark-purple: #292356;
$white-purple: #6F1EF4;
$white-magenta: #18EFE9;
$dark-yellow: #F4BC17;

$you-cells-color: $white-purple;
$ai-cells-color: $white-magenta;

$low-cell-color: #EA572D;
$med-cell-color: #F4BC17;
$hig-cell-color: #00A95A;