@use 'variables' as *;
@use 'mixin' as *;

@keyframes entryOverlay {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.overlay {
  align-items: center;
  animation: entryOverlay 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: $light-purple-translucent;
  border-radius: $board-padding * 1.5 + px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: $end-game-text + px;
  font-weight: bolder;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.message {
  background-image: linear-gradient(90deg, $dark-purple, $light-purple);
  border-radius: $size-16 + px;
  border-width: $size-8 + px;
  margin: 0;
  padding: $size-16 + px;
}

.overlay > img {
  height: $top-control-size + px;
  margin-top: $size-16 + px;
  transition: $transition-slow + s;

  &:hover {
    @include clickable;
  }
}
