@import 'variables';

#game-info {

  .modal-header,
  .modal-footer {
    background-color: $dark-purple;
  }

  .modal-header>button {
    color: $number-color;
  }

  .modal-body,
  .modal-footer>button {
    background-color: $light-purple;
  }

  h3,
  h4 {
    font-weight: bold;
  }

  h4 {
    text-decoration: underline;
  }

  p {
    font-size: $info-font-size + px;
  }

  .modal-body>img {
    left: 10%;
    position: relative;
    width: 80%;
  }
}
