@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";
$game-container-background: #bbada0;
$section-space: 8px;
$text-color: #776E65;
$tile-color: #eee4da;
$board-color: #baa;

/* --------------------- MIXIN START --------------------- */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
/* --------------------- MIXIN END --------------------- */

/* --------------------- TOP BAR START --------------------- */
.top-bar {
  height: $size-80+px;
  color: white;
  text-transform: uppercase;
  margin-bottom: $segments-spacing+px;
}

.top-bar .top-item {
  text-align: center;
  height: 100%;
}

.top-item > img {
  height: $size-64+px;
}

.top-item:nth-child(n+2):nth-child(-n+4) {
  background-color: white;
}

.left-score-box {
  border-radius: $size-32+px 0 0 $size-4+px;
  padding-left: $size-80+px;
}

.right-score-box {
  border-radius: 0 $size-32+px $size-4+px 0;
  padding-right: $size-80+px;
}

.score-container {
  width: 100%;
}

.player-name {
  height: $size-64+px;
  width: $size-64+px;
  background-color: $dark-yellow;
  color: $dark-purple;
  border-bottom: $size-4+px solid $light-gray;
  z-index: $zindex-dropdown;
}

.player-score {
  height: $size-40+px;
  width: $size-192+px;
  border-radius: 0 $size-8+px $size-8+px 0;
  font-weight: bold;
  left: -$size-8+px;
  position: relative;
  @include box-shadow(0, $size-2+px, 0, $light-gray, false)
}

.player-name, .player-score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-1 {
  background-image: linear-gradient(90deg, $dark-purple, $white-purple);
}

.player-2 {
  background-image: linear-gradient(90deg, $dark-purple, $white-magenta);
}

.top-level {
  width: $size-256+px;
  text-transform: uppercase;
  height: 100%;
  color:red;
}

.top-level > img {
  width: $size-128+px;
  position: relative;
  top: $size-16+px;
}
/* --------------------- TOP BAR END --------------------- */

/* --------------------- BOARD START --------------------- */
.board {
  padding: $board-padding+px;
  background-color: white;
  border-radius: $board-padding*1.5+px;
  position: relative;
  display: table;
  margin: 0 auto;
}
/* --------------------- BOARD END --------------------- */

/* --------------------- CELLS START --------------------- */
.wrapper-cell {
  float: left;
  border-right: $cell-border+px $light-purple solid;
  border-bottom: $cell-border+px $light-purple solid;
}

.wrapper-cell:last-child {
  border-right: 0;
}

.last-board-row .wrapper-cell {
  border-bottom: 0;
}

.cell, .wild-card {
  width: $cell-size+px;
  height: $cell-size+px;
  margin: $cell-margin+px;
  line-height: $cell-size+px;
  font-size: $cell-font-size+px;
  border-radius: $cell-size/3+px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: $number-color;
}

.wild-card {
  background-color: $white-purple;
  color: $dark-purple;
  font-size: $wildcard-font-size+px;
  position: absolute;
}

.hid {
  color: #fff0;
  background-color: white;
}

@for $value from 1 through 9 {
  $name: cell-value-#{$value};

  @if $value >= 1 and $value <= 3 {
    .#{$name} {
      background-color: $low-cell-color;
    }
  } @else if $value >= 4 and $value <= 6 {
    .#{$name} {
      background-color: $med-cell-color;
    }
  } @else if $value >= 7 and $value <= 9 {
    .#{$name} {
      background-color: $hig-cell-color;
    }
  }
}

.selectable {
  background-color: $you-cells-color !important;
  font-size: $cell-selectable-font-size+px;
}

.agent {
  background-color: $ai-cells-color !important;
  pointer-events: none;
  font-size: $cell-selectable-font-size+px;
}
/* --------------------- CELLS END --------------------- */

/* --------------------- FOOTER START --------------------- */
.bottom-bar {
  margin-top: $segments-spacing+px;
}
.socials-box {
  background-color: white;
  height: $socials-size*1.5+px;
  border-radius: $size-32+px $size-32+px 0 0;
  padding: $size-8+px $size-16+px;
  @include box-shadow($size-4+px, $size-4+px, 0, $light-gray, false)
}

.socials-box > img {
  width: $socials-size+px;
  margin-right: $socials-size/2+px;
  border-radius: $socials-size/2+px;
}

.socials-box > img:last-child {
  margin-right: 0;
}

.logo-box > img{
  width: $logo-size+px;
}

/* --------------------- FOOTER END --------------------- */



.board .cell, .tile, #boardDiv {
  user-select: none;
  cursor: default;
}

body {
  /*display: flex;*/
  background-image: linear-gradient(45deg, $light-purple, $dark-purple);
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.invisible {
  display: none;
}

.score-container-old {
  $height: 25px;
  $width: 60px;

  position: relative;
  display: inline-block;
  background: $game-container-background;
  width: $width;
  border-radius: 3px;
  color: white;
  text-align: center;

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: $tile-color;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $height;
    line-height: $height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    /*@include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);*/
  }
}

.scores-container {
  margin-top: $section-space;
  text-align: left;
}

.buttons-container {
  text-align: left;
  margin-bottom: $section-space;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 35px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px;
}

.overlay .message {
  color: #666;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}