@use 'node_modules/bootstrap/scss/bootstrap' as *;
@use 'variables' as *;
@use 'mixin' as *;
@use 'style';
@use 'cells';
@use 'footer';
@use 'game_over';
@use 'info';
@use 'splash';
@use 'top_bar';

@font-face {
  font-family: Quicksand-Regular;
  font-weight: regular;
  src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

@keyframes flip-diagonal-2-br {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

body {
  @include no-select;
  background-image: linear-gradient(45deg, $light-purple, $dark-purple);
  color: $number-color;
  font-family: Quicksand-Regular, Arial, sans-serif;
  user-select: none;
}

a {
  &:visited {
    color: $white-magenta;
  }

  &:link {
    color: $number-color;
  }
}

.board-div {
  height: 100%;
  position: relative;
}

.board {
  animation: flip-diagonal-2-br 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  background-color: $top-background-color;
  border-radius: $board-padding * 1.5 + px;
  display: table;
  margin: 0 auto;
  padding: $board-padding + px;
  position: relative;
}

.invisible {
  display: none;
}

@include media-breakpoint-down(lg) {
  .game-root {
    margin: auto;
  }

  .left-curve,
  .right-curve,
  .top-center {
    display: none;
  }

  .left-score-box,
  .right-score-box {
    border-radius: $size-8 + px;
    padding: 0;
  }

  .left-score-box {
    margin-left: $size-4 + px;
    margin-right: $size-2 + px;
  }

  .right-score-box {
    margin-left: $size-2 + px;
    margin-right: $size-4 + px;
  }

  .top-control {
    &:first-child > img {
      right: 0;
    }

    &:last-child > img {
      right: 0;
    }
  }
}
