@font-face {
  font-family: New Academy;
  font-weight: normal;
  src: url('../fonts/NEWACADEMY.ttf') format('truetype');
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  background-image:
    linear-gradient(rgba(0, 255, 255, 0.1) 2px, transparent 2px),
    linear-gradient(90deg, rgba(0, 255, 255, 0.1) 2px, transparent 2px);
  background-size: 20px 20px;
  color: #edf8fd;
  font-family:
    New Academy,
    Arial,
    sans-serif;
  user-select: none;
}

.board-div {
  height: 100%;
  position: relative;
}
