@import 'variables';

@keyframes show-splash {
  0% {
    bottom: 0;
  }

  99% {
    bottom: 0;
  }

  100% {
    bottom: 9999px;
  }
}

#game-splash {
  animation: show-splash $transition-slow * 1.5 + s cubic-bezier(.25, .46, .45, .94) both;
  background-image: linear-gradient(45deg, $light-purple, $dark-purple);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: $zindex-sticky;
}

#game-splash>img {
  display: block;
  margin: 1.75rem auto;
  position: relative;
  top: 100px;
  width: $splash-size + px;
}
