@use 'variables' as *;
@use 'mixin' as *;

@keyframes show-splash {
  0% {
    bottom: 0;
  }

  99% {
    bottom: 0;
  }

  100% {
    bottom: 9999px;
  }
}

.game-splash {
  animation: show-splash $transition-slow * 1.5 + s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-image: linear-gradient(45deg, $light-purple, $dark-purple);
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  //z-index: $zindex-sticky;
}

.game-splash > img {
  display: block;
  margin: 1.75rem auto;
  position: relative;
  top: 100px;
  width: $splash-size + px;
}
