@use 'variables' as *;

@for $row from 0 through $board-size {
  @for $column from 0 through $board-size {
    .position_#{$row}_#{$column} {
      &:not(.isMoving) {
        left: (($cell-size + 2 * $cell-margin + $cell-border) * $column + $board-padding) * 1px;
        top: (($cell-size + 2 * $cell-margin + $cell-border) * $row + $board-padding) * 1px;
      }
    }
  }
}

@for $from-row from 0 through $board-size {
  @for $to-row from 0 through $board-size {
    $name: row_from_#{$from-row}_to_#{$to-row};

    @if $from-row == $to-row {
      .#{$name} {
        top: (($cell-size + 2 * $cell-margin + $cell-border) * $to-row + $board-padding) * 1px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: $name;
      }

      @keyframes #{$name} {
        from {
          top: (($cell-size + 2 * $cell-margin + $cell-border) * $from-row + $board-padding) * 1px;
        }

        to {
          top: (($cell-size + 2 * $cell-margin + $cell-border) * $to-row + $board-padding) * 1px;
        }
      }
    }
  }
}

@for $from-column from 0 through $board-size {
  @for $to-column from 0 through $board-size {
    $name: column_from_#{$from-column}_to_#{$to-column};

    @if $from-column == $to-column {
      .#{$name} {
        left: (($cell-size + 2 * $cell-margin + $cell-border) * $to-column + $board-padding) * 1px;
      }
    } @else {
      .#{$name} {
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: $name;
      }

      @keyframes #{$name} {
        from {
          left: (($cell-size + 2 * $cell-margin + $cell-border) * $from-column + $board-padding) *
            1px;
        }

        to {
          left: (($cell-size + 2 * $cell-margin + $cell-border) * $to-column + $board-padding) * 1px;
        }
      }
    }
  }
}
