@import "variables";

$boardSize: 9;
$cellSize: $cell-size;
$marginSize: $cell-margin;
$paddingSize: $board-padding;

@for $row from 0 through $boardSize {
	@for $column from 0 through $boardSize {
		.position_#{$row}_#{$column}:not(.isMoving) {
			top: (($cellSize + 2 * $marginSize + $cell-border) * $row + $paddingSize) * 1px;
			left: (($cellSize + 2 * $marginSize + $cell-border) * $column + $paddingSize) * 1px;
		}
	}
}

@for $fromRow from 0 through $boardSize {
	@for $toRow from 0 through $boardSize {
		$name: row_from_#{$fromRow}_to_#{$toRow};

		@if $fromRow == $toRow {
			.#{$name} {
				top: (($cellSize + 2 * $marginSize + $cell-border) * $toRow + $paddingSize) * 1px;
			}
		} @else {
			.#{$name} {
				animation-duration: 0.20s;
				animation-name: $name;
				animation-fill-mode: forwards;
			}

			@keyframes #{$name} {
				from {
					top: (($cellSize + 2 * $marginSize + $cell-border) * $fromRow + $paddingSize) * 1px;
				}
				to {
					top: (($cellSize + 2 * $marginSize + $cell-border) * $toRow + $paddingSize) * 1px;
				}
			}
		}
	}
}

@for $fromColumn from 0 through $boardSize {
	@for $toColumn from 0 through $boardSize {
		$name: column_from_#{$fromColumn}_to_#{$toColumn};

		@if $fromColumn == $toColumn {
			.#{$name} {
				left: (($cellSize + 2 * $marginSize + $cell-border) * $toColumn + $paddingSize) * 1px;
			}
		} @else {
			.#{$name} {
				animation-duration: 0.20s;
				animation-name: $name;
				animation-fill-mode: forwards;
			}

			@keyframes #{$name} {
				from {
					left: (($cellSize + 2 * $marginSize + $cell-border) * $fromColumn + $paddingSize) * 1px;
				}
				to {
					left: (($cellSize + 2 * $marginSize + $cell-border) * $toColumn + $paddingSize) * 1px;
				}
			}
		}
	}
}
