@import 'variables';
@import 'mixin';

.top-bar {
  height: $top-bar-height + px;
  margin-bottom: $segments-spacing + px;
  text-transform: uppercase;

  .top-any {
    height: 100%;
    text-align: center;
  }
}

.top-control>img {
  height: $top-control-size + px;
  position: relative;
  transition: $transition-slow + s;

  &:hover {
    @include clickable;
  }

  &:first-child>img {
    right: -$curve-width / 2 + px;
    z-index: $zindex-dropdown;
  }

  &:last-child>img {
    right: $curve-width / 2 + px;
    z-index: $zindex-dropdown;
  }
}

.left-curve,
.right-curve {
  background-image: url('../images/curve.svg');
  background-size: 100% 100%;
  height: 100%;
  position: relative;
  right: -1px;
  width: $curve-width + px;
}

.right-curve {
  position: relative;
  right: 1px;
  transform: scaleX(-1);
}

.left-score-box {
  background-color: $top-background-color;
  border-radius: 0 0 $size-8 + px $size-8 + px;
  padding-left: $score-box-padding + px;
}

.right-score-box {
  background-color: $top-background-color;
  border-radius: 0 0 $size-8 + px $size-8 + px;
  padding-right: $score-box-padding + px;
}

.score-container {
  width: 100%;
}

.player-name {
  background-image: url('../images/star.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $dark-purple;
  font-size: $player-name-font-size + px;
  font-weight: bold;
  height: $player-name-size + px;
  left: $player-name-size / 4 + px;
  position: relative;
  width: $player-name-size + px;
  z-index: $zindex-dropdown;
}

.player-score {
  @include box-shadow(0, $size-2 + px, 0, $light-gray, false);
  border-radius: 0 $size-8 + px $size-8 + px 0;
  font-weight: bold;
  height: $player-score-height + px;
  left: -$player-name-size / 4 + px;
  position: relative;
  width: $player-score-width + px;
}

@keyframes updateScore {
  0% {
    font-size: $player-score-font-size + px;
    transform: rotate(-360deg);
  }

  50% {
    font-size: $player-score-font-size * 2 + px;
  }

  100% {
    font-size: $player-score-font-size + px;
    transform: rotate(0);
  }
}

.player-score>span {
  animation: updateScore .4s cubic-bezier(.25, .46, .45, .94) both;
  font-size: $player-score-font-size + px;
}

.player-name,
.player-score {
  align-items: center;
  display: flex;
  justify-content: center;
}

.player-1 {
  background-image: linear-gradient(90deg, $dark-purple, $white-purple);
}

.player-2 {
  background-image: linear-gradient(90deg, $dark-purple, $white-magenta);
}

.top-center {
  background-color: $top-background-color-transparent;
}

.top-logo {
  height: 100%;
  text-transform: uppercase;
  width: $top-logo-width + px;
}

.top-logo>img {
  left: ($top-logo-width - $top-logo-frame-width) / 2 + px;
  position: relative;
  top: $top-logo-frame-top + px;
  width: $top-logo-frame-width + px;
}
