$game-container-background: #bbada0;
$section-space: 8px;
$text-color: #776E65;
$tile-color: #eee4da;
$board-color: #baa;

.board .cell, .tile, #boardDiv {
  user-select: none;
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.board {
  padding: 5px;
  background-color: $board-color;
  border-radius: 7px;
  position: relative;
}

.cell, .wild-card {
  width: 50px;
  height: 50px;
  margin: 1px;
  line-height: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  font-family: "Clear Sans";
  color: #413434;
  background-color: #dcb;
}

.selectable {
  background-color: #f69191;
}

.agent {
  background-color: #b4f691 !important;
  pointer-events: none;
}

.hid {
  color: #fff0;
}

.wild-card {
  background-color: #669dd4;
  position: absolute;
}

.score-container {
  $height: 25px;

  position: relative;
  display: inline-block;
  background: $game-container-background;
  padding: 15px 25px;
  font-size: $height;
  height: $height;
  line-height: $height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: $tile-color;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $height;
    line-height: $height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    /*@include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);*/
  }
}

.score-container:after {
  content: "Score";
}

.scores-container {
  margin-top: $section-space;
  text-align: center;
}

.buttons-container {
  text-align: left;
  margin-bottom: $section-space;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 35px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px;
}

.overlay .message {
  color: #666;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}